<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blog</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abyssinica+SIL&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bonheur+Royale&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- http://getbootstrap.com/docs/5.3/ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body">
        <div class="container-fluid"><a class="navbar-brand" href="/" style="font-size: 55px;font-family: 'Bonheur Royale', serif;">Travelers</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Home</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="padding-left: 0px;margin-left: 1px;">
                {% if session["user_id"] %}
                <ul class="navbar-nav ms-auto" style="font-family: 'Abyssinica SIL', serif">
                    <li class="nav-item"><a class="btn btn-outline-dark" href="/profile" style= "margin-right: 5px">Profile</a></li>
                    <li class="nav-item"><a class="btn btn-outline-dark" href="/add_article" style="margin-right: 5px;">Add article</a></li>
                    <li class="nav-item"><a class="btn btn-outline-dark" href="/logout" >Log out</a></li>
                </ul>
                {% else %}
                    <ul class="navbar-nav ms-auto" style="font-family: 'Abyssinica SIL', serif">
                        <li class="nav-item"><a class="btn btn-outline-dark" href="/login" style="margin-right: 5px;">Log in</a></li>
                        <li class="nav-item"><a class="btn btn-outline-dark" href="/register">Registration</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="container py-5">
        {% block main %}{% endblock %}
    </main>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
